{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">
        <a class="button__new" href="/instructors/create">Novo pedido</a>
            <table width="100%">
                <thead>
                    <tr>
                        <th>Pedido n°</th>
                        <th>Empresa</th>
                        <th>Prioridade</th>
                        <th>Ação</th>
                    </tr>
                </thead>

                <tbody>
                {% for instructor in instructors %}
                    <tr>
                        <td>{{ instructor.id }}</td>
                        <td>{{ instructor.name }}</td>
                        <td><a style="cursor: pointer" href="#">{{instructor.prio}}</a></td>
                        <td><a href="/instructors/{{instructor.id}}/edit">editar</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>

{% endblock content %}