{% extends "layout.njk" %}

{% block content %}

    <form class="card" method="POST" action="/instructors">
        <section class="avatar" style="width: 100%; min-height: 400px; background: url('https://scontent.fpoa7-1.fna.fbcdn.net/v/t1.0-9/51677776_2256294081058058_3635726233091702784_o.jpg?_nc_cat=105&ccb=2&_nc_sid=09cbfe&_nc_ohc=pGSJ2UzEUx8AX9NSFLv&_nc_ht=scontent.fpoa7-1.fna&oh=0e9d8fb6feac71c98443b0c8631c1c38&oe=5FC55035') no-repeat center center / cover"></section>

        <section class="details">

            <h3>Novo Pedido</h3>

            {% include 'instructors/fields.njk' %}

        </section>
        

    </form>

{% endblock content %}