<div class="item">

            <div class="item">
                <div>
                    <div>Empresa</div>
                    <input 
                    type="text"
                    name="name"
                    placeholder="Nome da Empresa"
                    value="{{ instructor.name }}"
                    >
            </div>

            <div class="item">
                <div>Descrição do Pedido</div>
                <input style="height: 30%" type="text" 
                name="descricao"
                value="{{ instructor.descricao }}" 
                >
            </div>

            <div class="item">
                <div>Area de atuação</div>
                <div>
                    <input 
                    type="text"
                    name="services"
                    placeholder="Separe os serviços prestados por virgula"
                    value="{{ instructor.services }}"
                    >
                </div>
            </div>

            <button class="submit" type="submit">Salvar</button>